*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body{
    margin: 0;
}

.flex{
    display: flex;
}

h1 {
    font-size: 4.2rem; 
    font-weight: bold; 
    margin-bottom: 20px;
    font-family: 'ManropeBold';
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: relative;
    height: 95px;
    z-index: 2;
}

nav .logo img{
    height: 140px;
    margin-left: 40px;
    z-index: 2;
    margin-top: 10px;
}

.nav-links{
    list-style: none;
    align-items: center;
    margin: 0; 
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--color3);
    transition: color 0.3s ease;
    font-weight: bold;
    margin-right: 20px;
}

.nav-links a:hover {
    color: var(--color2);
}

/* Burger Menu */

.burger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: var(--color3);
    margin: 3px 20px;
}

.get-started {
    background: linear-gradient(90deg, #21DADB, #35BBDF); 
    border: none; 
    color: white;
    padding: 12px 20px;
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: auto; 
    margin-right: 20px; 
    font-weight: bold; 
}

.get-started:hover {
    background: linear-gradient(90deg, #35BBDF, #4D94E6); 
}

/* Hero-Section */

.hero-section{
    position: relative;
    justify-content: space-between; 
    align-items: center; 
    background-color: white;
    padding: 30px; 
    margin: 0;
    border-top: 1px solid; 
    border-image: var(--gradient) 1;
    margin: 2px;
    flex-direction: row;
    z-index: 2;
}

.hero-section h1{
    font-size: 5rem;
    color: var(--color3);
}

.hero-content {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    max-width: 40%;
    margin-left: 30px;
    margin-top: 20px;
}

.hero-input-group{
    width: 100%;
    align-items: center ;
    margin-top: 30px;
}

.hero-image {
    width: 98%; 
    max-width: 1200px;
    height: auto; 
    margin-right: 40px; 
    margin-left: 0;
    position: relative;
    z-index: 100; 
}

.email-input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0px;
    width: 70%;
    max-width: 300px;
    font-size: 16px;
    height: 40px;
}

.gradient-circle {
    width: 8vw; 
    height: 8vw; 
    border-radius: 50%; 
    background: linear-gradient(135deg, #21DADB, #35BBDF, #4D94E6);
    position: absolute;
    top: 10vh;
    left: -8px;
    transform: translateX(-50%); 
    z-index: 1;
    opacity: 0.8;
}

.gradient-circle-1{
    width: 4vw; 
    height: 4vw; 
    border-radius: 50%; 
    background: linear-gradient(90deg, #21DADB, #35BBDF, #4D94E6);
    position: absolute;
    top: 40vh;
    left: 10vh;
    transform: translateX(-50%); 
    z-index: 1;
    opacity: 0.8;
}

.rotating-tk {
    width: 5vw; 
    height: 5vw;
    position: absolute;
    top: 60vh; 
    left: 55vw; 
    z-index: 10;
}
.rotating-insta {
    width: 5vw; 
    height: 5vw;
    position: absolute;
    top: 50vh; 
    left: 45vw; 
    z-index: 10;
}

.rotating-fb{
    width: 4vw; 
    height: 4vw;
    position: absolute;
    top: 20vh; 
    left: 55vw; 
    z-index: 10;
}

.rotating-yt{
    width: 4vw; 
    height: 4vw;
    position: absolute;
    top: 25vh; 
    left: 45vw; 
    z-index: 10;
}

.rotating-x{
    width: 4vw; 
    height: 4vw;
    position: absolute;
    top: 38vh; 
    left: 52vw; 
    z-index: 10;
}



/*Statistics */

.statistics-section {
    position: relative; 
    background: transparent;
    margin-top: -120px; 
    padding: 50px 0; 
    z-index: 3; 
    color: #fff;
}

.statistics-container {
    align-items: center; 
    justify-content: center; 
    gap: 100px; 
}

.statistics-section h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0; 
}

.statistic-card {
    justify-content: space-around; 
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    background: linear-gradient(90deg, #21DADB, #35BBDF); 
    margin: 0 auto; 
    max-width: 100%; 
    margin: 0 20px;
}

.statistic-icon {
    text-align: center;
}

.statistic-icon img {
    width: 60px; 
    height: auto;
    margin-bottom: 10px;
}

.counter {
    font-size: 2rem; 
    font-weight: bold;
    margin: 0; 
}

p {
    margin: 5px 0 0; 
}


/*services Section */
.why-us-section {
    margin: 0px 20px;
    padding: 60px 20px;
    background: linear-gradient(45deg, #21DADB, #35BBDF, #4D94E6);
    border-radius: 12px; 
    text-align: center; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    color: #fff; 
}

.why-us-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.services-container {
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}

.service-card {
    flex-basis: 22%; 
    max-width: 250px;
    height: 200px;
    margin: 15px;
    perspective: 1000px;
}

.service-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.service-card:hover .service-card-inner {
    transform: rotateY(180deg);
}

.service-card-front,
.service-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    backface-visibility: hidden;
    border-radius: 8px;
}

.service-card-front {
    background-color: var(--color2);
    color: #fff;
}

.service-card-back {
    background-color: var(--color3);
    transform: rotateY(180deg);
}

.service-card-front h3 {
    font-size: 1.5rem;
    color: #ffffff; 
    text-align: center;
    margin-top: 10px;
}

.service-card-back p {
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0 10px;
}

/* Partners Section */
.partner {
    padding: 60px 20px;
    background-color: #fff;
    color: var(--color2); 
    text-align: center; 
    border-radius: 15px;
}

.partner h2 {
    font-size: 2.5rem; 
    margin-bottom: 40px; 
    font-weight: 700; 
}

.reasons {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px; 
}

.reason {
    background: linear-gradient(45deg, #21DADB, #35BBDF, #4D94E6);
    border-radius: 12px;
    padding: 25px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.reason:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15); 
}

.reason h3 {
    font-size: 1.8rem;
    margin-bottom: 15px; 
    color: white; 
}

.reason p {
    font-size: 1rem; 
    line-height: 1.6; 
    color: #333;
}


@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav-links {
        display: none; 
        flex-direction: column; 
        width: 100%; 
        background-color: black; 
        position: absolute; 
        top: 100px;
        left: 0px; 
        z-index: 1; 
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 10px 30px;
    }

    .logo {
        display: flex; 
        align-items: center; 
    }

    .hero-section {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    .hero-content {
        order: 2; 
        max-width: 80%; 
        padding: 10px; 
        text-align: left; 
    }

    .hero-content h1 {
        font-size: 2.5rem; 
    }

    .hero-content p {
        font-size: 1rem; 
    }

    .hero-input-group {
        justify-content: center; 
        width: 90%; 
        margin-bottom: 50px;
        gap: 10px;
    }

    .hero-image {
        order: 1; 
        max-width: 80%; 
        margin: 0 auto 20px; 
    }

    .why-us-section h2 {
        font-size: 2rem; 
    }

    .service-card {
        flex-basis: 45%;
        margin: 10px 0; 
    }
    .gradient-circle {
        width: 12vw;
        height: 12vw;
        top: 12vh;
    }

    .gradient-circle-1 {
        width: 8vw;
        height: 8vw;
        top: 45vh;
        left: 12vw;
    }

    .rotating-tk, .rotating-insta, .rotating-fb, .rotating-yt, .rotating-x {
        width: 8vw;
        height: 8vw;
    }

    .rotating-tk { top: 25vh; left: 83vw; }
    .rotating-insta { top: 60vh; left: 82vw; }
    .rotating-fb { top: 15vh; left: 10vw; }
    .rotating-yt { top: 30vh; left: 15vw; }
    .rotating-x { top: 52vh; left: 18vw; }


    .statistics-section h2 {
        font-size: 1.5rem; 
    }

    .statistics-container {
        gap: 50px; 
    }

    .statistic-card {
        padding: 20px; 
    }

    .counter {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px){
    .get-started {
        display: none; 
    }
    .hero-content h1 {
        font-size: 2rem; 
        margin-bottom: 10px; 
    }
    .hero-content p {
        font-size: 0.9rem; 
    }

    .hero-input-group {
        flex-direction: column;
        align-items: stretch; 
    }

    .email-input {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .hero-image {
        max-width: 90%; 
        margin: 0 auto 20px; 
    }

    .why-us-section h2 {
        font-size: 1.5rem; 
    }

    .service-card {
        flex-basis: 100%; 
    }

    .service-card h3 {
        font-size: 1.25rem; 
    }

    .service-card p {
        font-size: 0.9rem; 
    }

    .statistics-section h2 {
        font-size: 1.2rem; 
    }

    .statistics-container {
        gap: 30px; 
    }

    .statistic-card {
        padding: 15px; 
    }

    .counter {
        font-size: 1.2rem; 
    }
}