*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.flex{
    display: flex;
}

h1 {
    font-size: 4.2rem; 
    font-weight: bold; 
    margin-bottom: 20px;
    font-family: 'ManropeBold';
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: relative;
    height: 95px;
    z-index: 2;
}

nav .logo img{
    height: 140px;
    margin-left: 40px;
    z-index: 2;
    margin-top: 10px;
}

.nav-links{
    list-style: none;
    align-items: center;
    margin: 0; 
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--color3);
    transition: color 0.3s ease;
    font-weight: bold;
    margin-right: 20px;
}

.nav-links a:hover {
    color: var(--color2);
}

/* Burger Menu */
.burger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: var(--color3);
    margin: 3px 20px;
}

.get-started {
    background: linear-gradient(90deg, #21DADB, #35BBDF); 
    border: none; 
    color: white;
    padding: 12px 20px;
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: auto; 
    margin-right: 20px; 
    font-weight: bold; 
    transition: background 0.3s ease; 
}

.get-started:hover {
    background: linear-gradient(90deg, #35BBDF, #4D94E6); 
}

/* Hero-Section */

.hero-section{
    position: relative;
    justify-content: space-between; 
    align-items: center; 
    background-color: white;
    padding: 40px; 
    margin-top: 0;
    border-top: 1px solid; 
    border-image: var(--gradient) 1;
    margin: 2px;
    flex-direction: row;
}

.hero-content {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    max-width: 40%;
    margin-left: 30px;
}

.hero-input-group{
    width: 100%;
    align-items: center ;
    margin-top: 30px;
}

.hero-image {
    width: 120%; 
    max-width: 2000px;
    height: auto; 
    margin-right: 50px; 
    margin-left: 0;
    position: relative;
    z-index: 100; 
}

.email-input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0px;
    width: 70%;
    max-width: 300px;
    font-size: 16px;
    height: 40px;
}

.circle-background {
    position: absolute;
    top: 50%;
    left: 50%; 
    width: 500px; 
    height: 500px;
    background: linear-gradient(45deg, #21DADB, #35BBDF, #4D94E6);
    margin-left: 380px;
    border-radius: 50%; 
    margin-top: 0;
    transform: translate(-50%, -50%); 
    z-index: 1; 
}


@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav-links {
        display: none; 
        flex-direction: column; 
        width: 100%; 
        background-color: black; 
        position: absolute; 
        top: 100px;
        left: 0px; 
        z-index: 1; 
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 10px 30px;
    }

    .logo {
        display: flex; 
        align-items: center; 
    }

    .hero-section {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    .hero-content {
        order: 2; 
        max-width: 100%; 
        padding: 10px; 
        text-align: left; 
    }

    .hero-content h1 {
        font-size: 2.5rem; 
    }

    .hero-content p {
        font-size: 1rem; 
    }

    .hero-input-group {
        justify-content: center; 
        width: 90%; 
    }

    .hero-image {
        order: 1; 
        max-width: 80%; 
        margin: 0 auto 20px; 
    }
    .circle-background {
        width: 300px; 
        height: 300px; 
        margin-left: 50px;
        margin-top: -100px; 
    }
}

@media (max-width: 480px){
    .get-started {
        display: none; 
    }
    .hero-content h1 {
        font-size: 2rem; 
        margin-bottom: 10px; 
    }
    .hero-content p {
        font-size: 0.9rem; 
    }

    .hero-input-group {
        flex-direction: column;
        align-items: stretch; 
    }

    .email-input {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .hero-image {
        max-width: 90%; 
        margin: 0 auto 20px; 
    }

    .circle-background {
        width: 200px; 
        height: 200px; 
        margin-left: 20px;
        margin-top: -120px; 
    }
}