@font-face {
    font-family: 'Manrope';
    src: url('./../assets/fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ManropeBold';
    src: url('../assets/fonts/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
  }